<!--
Team PurpleSnake (Michelle Thaung, Pak Ming Lau, Yi Ling Wu)
SoftDev
K14 - Form and Function
2020-12-10
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Team PurpleSnake</title>
    </head>
    <body>
        <h1>Team PurpleSnake: Forms</h1>
        <p>Michelle Thaung, Pak Ming Lau, Yi Ling Wu</p>
        <hr>
        <h2>Enter your username please (GET)</h2>
        <form action="/auth" method="get">
            <input type="text" name="username">
            <input type="submit" name="Submit">
        </form>
        <h2>Enter another username please (POST)</h2>
        <form action="/auth" method="post">
            <input type="text" name="username">
            <input type="submit" name="Submit">
        </form>
    </body>
</html>
