<!--
Team PurpleSnake (Michelle Thaung, Pak Ming Lau, Yi Ling Wu)
SoftDev
K15 - Sessions Greetings
2020-12-14
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Team PurpleSnake</title>
    </head>
    <body>
        <h1>Team PurpleSnake: Forms</h1>
        <p>Michelle Thaung, Pak Ming Lau, Yi Ling Wu</p>
        <hr>
        <h2>Enter your login credentials please</h2>
        <p style="color:red">Please enter your credentials!</p>
        <form action="/" method="post">
            Username: <input type="text" name="username">
            <br>
            Password:  <input type="password" name="password">
            <br>
            <br>
            <input type="submit" name="Submit">
        </form>
    </body>
</html>
