<!--
Team PurpleSnake (Michelle Thaung, Pak Ming Lau, Yi Ling Wu)
SoftDev
K15 - Sessions Greetings
2020-12-14
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Team PurpleSnake</title>
    </head>
    <body>
        <h1>Team PurpleSnake: Forms</h1>
        <p>Michelle Thaung, Pak Ming Lau, Yi Ling Wu</p>
        <hr>
        <p>Welcome {{ userID }}</p>
        <form action="/logout" method="post">
            <input type="submit" name="logout" value="logout">
        </form>
    </body>
</html>
